body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}


.clock-dial{
    width : 330px;
    height : 330px;
    border : 10px solid #000;
    border-radius: 50%;
    position : relative;
    background : #a31414;
    box-shadow : 0 0 10px rgba(0,0,0,0.5);
    margin : 0 auto;
    
    

}

.point{
 width:20px;
 


}


